/* Enter your custom styles here */
.sapMListHdrText {

    box-sizing: border-box;
    font-size: 1.50rem;
    color: #126fd1;
    height: 2rem;
    padding: 0 1rem;
    background-color: #e7e300;
    border-bottom: 1px solid #256f3a;
}

.sapUiFormResLayout>.sapUiFormTitle {
    box-sizing: border-box;
    padding: 3rem;
}

.sapUiForm .sapUiFormTitle {
    font-weight: bold;
    font-size: 2rem;
    color: #d516ac;
    height: 3rem;
    line-height: 3rem;
}